# Load in the uncompressed pickle file

In [4]:
import pandas as pd
train_df = pd.read_pickle('tz_aware_merged_data_yh_v2.pkl')

# Compress the pickle files

From https://www.kaggle.com/caesarlupum/ashrae-ligthgbm-simple-fe

In [5]:
## Function to reduce the DF size
def reduce_mem_usage(df, verbose=True):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [6]:
## Reducing memory
train_df = reduce_mem_usage(train_df)

Mem. usage decreased to 1265.39 Mb (52.6% reduction)

In [7]:
## Save to compressed pickle files
train_df.to_pickle("tz_aware_merged_data_yh_v2_cmp.pkl")

# --------------------------------------------------------------------------------------------------------
# Load in compressed pickle file

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.graph_objects as go
from plotly.colors import n_colors
import plotly.figure_factory as ff
import datetime
from astral import Astral
import chart_studio
chart_studio.tools.set_credentials_file(username='sskowronski', api_key='D8RUhDTi9YKoYpESoM06')

In [2]:
train_df = pd.read_pickle('tz_aware_merged_data_yh_v2_cmp.pkl')

# Initial survey of train_df

In [30]:
train_df.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,...,hour_of_day,day_of_week,day_of_month,day_of_year,week_of_year,month_of_year,hour,day,week,primary_use_num
0,0,0,2016-01-01,220.046478,0,Education,7432,2008,8,19.40625,...,0,4,1,1,53,1,0,0,0,0
1,1,0,2016-01-01,101.917961,0,Education,2720,2004,5,19.40625,...,0,4,1,1,53,1,0,0,0,0
2,2,0,2016-01-01,5.634698,0,Education,5376,1991,4,19.40625,...,0,4,1,1,53,1,0,0,0,0
3,3,0,2016-01-01,366.496399,0,Education,23685,2002,10,19.40625,...,0,4,1,1,53,1,0,0,0,0
4,4,0,2016-01-01,1568.406494,0,Education,116607,1975,1,19.40625,...,0,4,1,1,53,1,0,0,0,0

In [29]:
train_df.columns

Index(['building_id', 'meter', 'timestamp', 'meter_reading', 'site_id',
       'primary_use', 'square_feet', 'year_built', 'floor_count',
       'air_temperature', 'cloud_coverage', 'dew_temperature',
       'precip_depth_1_hr', 'sea_level_pressure', 'timestamp_utc',
       'wind_direction', 'wind_speed', 'timezone', 'country_code', 'location',
       'dst', 'local_time', 'timedelta', 'hour_of_day', 'day_of_week',
       'day_of_month', 'day_of_year', 'week_of_year', 'month_of_year', 'hour',
       'day', 'week', 'primary_use_num'],
      dtype='object')

# Update and add time variables

In [5]:
# I won't be using these in my plotting

del train_df["day_of_week"], train_df["hour_of_day"], train_df["time_index"], train_df["avg"], train_df["std"], train_df["outlier"], train_df["index"]

In [10]:
for df in [train_df]:
    df['timedelta'] = ((pd.to_timedelta(df['timestamp'] - df['timestamp'].min()).dt.total_seconds().astype('int64')) / 3600)

    # Categorical date and  time features
    df['hour_of_day'] = df['timestamp'].dt.hour.values.astype(np.uint8)
    df['day_of_week'] = df['timestamp'].dt.dayofweek.values.astype(np.uint8)
    df['day_of_month'] = df['timestamp'].dt.day.values.astype(np.uint8)  
    df['day_of_year'] = df['timestamp'].dt.dayofyear.values.astype(np.uint16)
    df['week_of_year'] = df['timestamp'].dt.weekofyear.values.astype(np.uint8)
    df['month_of_year'] = df['timestamp'].dt.month.values.astype(np.uint8)

    # Continuous date and time features
    df['hour'] = df['timedelta'].astype(np.uint16)
    df['day'] = (df['hour'] / 24).astype(np.uint16)
    df['week'] = (df['day'] / 7).astype(np.uint8)

In [11]:
train_df[train_df.week_of_year==53]

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,...,timedelta,hour_of_day,day_of_week,day_of_month,day_of_year,week_of_year,month_of_year,hour,day,week
0,0,0,2016-01-01 00:00:00,220.046478,0,Education,7432,2008.0,8.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
1,1,0,2016-01-01 00:00:00,101.917961,0,Education,2720,2004.0,5.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
2,2,0,2016-01-01 00:00:00,5.634698,0,Education,5376,1991.0,4.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
3,3,0,2016-01-01 00:00:00,366.496399,0,Education,23685,2002.0,10.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
4,4,0,2016-01-01 00:00:00,1568.406494,0,Education,116607,1975.0,1.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
5,5,0,2016-01-01 00:00:00,11.006485,0,Education,8000,2000.0,2.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
6,6,0,2016-01-01 00:00:00,86.074173,0,Lodging/residential,27926,1981.0,5.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
7,7,0,2016-01-01 00:00:00,550.792114,0,Education,121074,1989.0,10.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
8,8,0,2016-01-01 00:00:00,400.311279,0,Education,60809,2003.0,10.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
9,9,0,2016-01-01 00:00:00,100.309166,0,Office,27000,2010.0,6.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
10,10,0,2016-01-01 00:00:00,1571.445312,0,Entertainment/public assembly,370773,1991.0,19.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
11,11,0,2016-01-01 00:00:00,461.878540,0,Education,49073,1968.0,6.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
12,12,0,2016-01-01 00:00:00,212.581894,0,Lodging/residential,37100,1999.0,4.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
13,13,0,2016-01-01 00:00:00,352.306702,0,Education,99380,2000.0,10.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
14,14,0,2016-01-01 00:00:00,402.965057,0,Education,86250,2013.0,7.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
15,15,0,2016-01-01 00:00:00,249.290970,0,Office,83957,1974.0,5.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
16,16,0,2016-01-01 00:00:00,1292.722778,0,Education,54644,1996.0,19.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
17,17,0,2016-01-01 00:00:00,87.304527,0,Office,15250,1980.0,2.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
18,18,0,2016-01-01 00:00:00,2009.595215,0,Education,111891,1996.0,19.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
19,19,0,2016-01-01 00:00:00,187.112640,0,Office,18717,2004.0,8.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
20,20,0,2016-01-01 00:00:00,500.051422,0,Education,110272,1977.0,6.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
21,21,0,2016-01-01 00:00:00,58.762215,0,Office,7043,1990.0,5.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
22,22,0,2016-01-01 00:00:00,11.846743,0,Education,3569,1996.0,4.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
23,23,0,2016-01-01 00:00:00,866.312317,0,Education,130885,1985.0,7.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
24,24,0,2016-01-01 00:00:00,869.948486,0,Education,105545,2001.0,11.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
25,25,0,2016-01-01 00:00:00,340.977051,0,Office,103286,1969.0,8.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
26,26,0,2016-01-01 00:00:00,145.344421,0,Office,26953,2005.0,6.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
27,27,0,2016-01-01 00:00:00,259.251801,0,Lodging/residential,59200,1999.0,8.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
28,28,0,2016-01-01 00:00:00,230.173431,0,Office,52957,2016.0,7.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
29,30,0,2016-01-01 00:00:00,507.232117,0,Education,93897,1999.0,10.0,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99928,1418,0,2016-01-03 23:00:00,13.125000,15,Lodging/residential,41302,1975.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99929,1419,0,2016-01-03 23:00:00,7.875000,15,Lodging/residential,40629,1975.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99930,1420,0,2016-01-03 23:00:00,98.000000,15,Entertainment/public assembly,95079,1975.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99931,1421,0,2016-01-03 23:00:00,100.974998,15,Education,47934,1990.0,4.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99932,1422,0,2016-01-03 23:00:00,10.475000,15,Lodging/residential,19876,1932.0,3.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99933,1423,0,2016-01-03 23:00:00,12.625000,15,Lodging/residential,18277,1965.0,2.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99934,1424,0,2016-01-03 23:00:00,19.325001,15,Lodging/residential,24103,1964.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99935,1425,0,2016-01-03 23:00:00,21.775000,15,Utility,4071,1990.0,2.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99936,1427,0,2016-01-03 23:00:00,136.675003,15,Education,180625,1933.0,4.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99937,1428,0,2016-01-03 23:00:00,38.049999,15,Education,28432,1933.0,4.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99938,1429,0,2016-01-03 23:00:00,25.424999,15,Education,40461,2002.0,4.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99939,1430,0,2016-01-03 23:00:00,363.075012,15,Office,53303,1981.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99940,1431,0,2016-01-03 23:00:00,112.675003,15,Public services,111360,2000.0,2.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99941,1432,0,2016-01-03 23:00:00,433.725006,15,Education,160673,1968.0,4.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99942,1433,0,2016-01-03 23:00:00,45.025002,15,Education,28084,1913.0,4.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99943,1434,0,2016-01-03 23:00:00,68.849998,15,Education,33148,1967.0,4.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99944,1435,0,2016-01-03 23:00:00,6.075000,15,Education,9552,1961.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99945,1436,0,2016-01-03 23:00:00,10.650000,15,Manufacturing/industrial,11302,1937.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99946,1437,0,2016-01-03 23:00:00,172.699997,15,Education,111518,1968.0,2.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99947,1438,0,2016-01-03 23:00:00,115.574997,15,Education,108971,1990.0,4.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99948,1439,0,2016-01-03 23:00:00,206.975006,15,Education,56497,1957.0,2.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99949,1440,0,2016-01-03 23:00:00,169.324997,15,Lodging/residential,150294,1987.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99950,1441,0,2016-01-03 23:00:00,259.049988,15,Education,30143,1951.0,4.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99951,1442,0,2016-01-03 23:00:00,61.849998,15,Public services,99541,1993.0,2.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99952,1443,0,2016-01-03 23:00:00,71.925003,15,Education,40311,1913.0,4.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99953,1444,0,2016-01-03 23:00:00,8.575000,15,Entertainment/public assembly,19619,1914.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99954,1445,0,2016-01-03 23:00:00,5.350000,15,Education,4298,1961.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99955,1446,0,2016-01-03 23:00:00,5.350000,15,Entertainment/public assembly,11265,1997.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99956,1447,0,2016-01-03 23:00:00,153.024994,15,Lodging/residential,29775,2001.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0
99957,1448,0,2016-01-03 23:00:00,2.650000,15,Office,92271,2001.0,1.0,NaN,...,71.0,23,6,3,3,53,1,71,2,0

# Make `year_built` and `floor_count` display as an integer

In [12]:
make_int = lambda x: '{:.0f}'.format(x)
train_df.year_built=train_df.year_built.apply(make_int)
train_df.floor_count=train_df.floor_count.apply(make_int)

In [13]:
train_df.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,...,timedelta,hour_of_day,day_of_week,day_of_month,day_of_year,week_of_year,month_of_year,hour,day,week
0,0,0,2016-01-01,220.046478,0,Education,7432,2008,8,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
1,1,0,2016-01-01,101.917961,0,Education,2720,2004,5,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
2,2,0,2016-01-01,5.634698,0,Education,5376,1991,4,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
3,3,0,2016-01-01,366.496399,0,Education,23685,2002,10,19.40625,...,0.0,0,4,1,1,53,1,0,0,0
4,4,0,2016-01-01,1568.406494,0,Education,116607,1975,1,19.40625,...,0.0,0,4,1,1,53,1,0,0,0

# Create dictionary of `primary_use` variable and turn the columns into category variables (0 through 15)

In [26]:
primary_use_list = train_df.primary_use.unique().tolist()
primary_use_list.sort()
primary_use_values = list(range(16))
primary_use_dict = dict(zip(primary_use_list, primary_use_values))
primary_use_lambda = lambda x:primary_use_dict[x]

In [28]:
train_df["primary_use_num"] = train_df.primary_use.apply(primary_use_lambda)

In [27]:
primary_use_dict

{'Education': 0,
 'Entertainment/public assembly': 1,
 'Food sales and service': 2,
 'Healthcare': 3,
 'Lodging/residential': 4,
 'Manufacturing/industrial': 5,
 'Office': 6,
 'Other': 7,
 'Parking': 8,
 'Public services': 9,
 'Religious worship': 10,
 'Retail': 11,
 'Services': 12,
 'Technology/science': 13,
 'Utility': 14,
 'Warehouse/storage': 15}

# --------------------------------------------------------------------------------------------------------
# Save to compressed, cleaned up pickle file

In [31]:
train_df.to_pickle("tz_aware_merged_data_yh_v2_cmp_clean.pkl")

# --------------------------------------------------------------------------------------------------------

# Other thoughts

# Lag + window variables

From https://www.kaggle.com/rohanrao/ashrae-divide-and-conquer

# Correction to units for site 0 electric meter

From https://www.kaggle.com/c/ashrae-energy-prediction/discussion/119261#latest-685633

Not necessary if we do modelling building-wise or site-wise

Multiply by 0.2931 to get to model inputs into kWh like the other sites, and 3.4118 to get back to kBTU for scoring.

# Add leaked site location latitude + longitude

From https://www.kaggle.com/c/ashrae-energy-prediction/discussion/112841#latest-649772

Will use this for sunrise/sunset calculations